.idea/
задание.txt
data/testdb.mv.db
frontend/node_modules/
backend/volunteer/src/main/resources/application.properties
backend/volunteer/src/main/java/com/example/volunteer/security/JwtAuthenticationFilter.java
.gitignore
backend/volunteer/data/testdb.mv.db
backend/volunteer/data/testdb.trace.db
backend/chat/.gradle/8.13/executionHistory/executionHistory.lock
backend/chat/.gradle/8.13/fileChanges/last-build.bin
backend/chat/.gradle/8.13/fileHashes/fileHashes.lock
backend/chat/.gradle/buildOutputCleanup/buildOutputCleanup.lock
backend/chat/.gradle/buildOutputCleanup/cache.properties
backend/chat/.gradle/vcs-1/gc.properties
backend/chat/bin/main/com/bubla/ChatApplication.class
backend/chat/bin/main/com/bubla/configuration/WebSocketConfig.class
backend/chat/bin/main/com/bubla/controller/ChatController.class
backend/chat/bin/main/com/bubla/exception/ResourceNotFoundException.class
backend/chat/bin/main/com/bubla/model/ChatMessage.class
backend/chat/bin/main/com/bubla/model/ChatMessage$ChatMessageBuilder.class
backend/chat/bin/main/com/bubla/model/ChatNotification.class
backend/chat/bin/main/com/bubla/model/ChatNotification$ChatNotificationBuilder.class
backend/chat/bin/main/com/bubla/model/ChatRoom.class
backend/chat/bin/main/com/bubla/model/ChatRoom$ChatRoomBuilder.class
backend/chat/bin/main/com/bubla/model/MessageStatus.class
backend/chat/bin/main/com/bubla/repository/ChatMessageRepository.class
backend/chat/bin/main/com/bubla/repository/ChatRoomRepository.class
backend/chat/bin/main/com/bubla/service/ChatMessageService.class
backend/chat/bin/main/com/bubla/service/ChatRoomService.class
backend/chat/.gradle/8.13/gc.properties
backend/chat/.gradle/8.13/checksums/checksums.lock
