.idea/
задание.txt
data/testdb.mv.db
frontend/node_modules/
backend/volunteer/src/main/resources/application.properties
backend/volunteer/src/main/java/com/example/volunteer/security/JwtAuthenticationFilter.java
.gitignore
backend/volunteer/data/testdb.mv.db
backend/volunteer/data/testdb.trace.db